@charset "utf-8";
/* ==============================
   Small desktop
   ============================== */

@media only screen and (max-width: 1366px) {
	

}

@media only screen and (max-width: 1200px) {
	

}


@media only screen and (max-width: 1199px) {
	
}

/* ==============================
   Tablet landskape
   ============================== */
@media only screen and (max-width: 1024px) {
	

}

@media only screen and (max-width: 992px) {

}

/* ==============================
   Tablet Portrait
   ============================== */
@media only screen and (max-width: 768px) {
	

}

/* ==============================
   Phone
   ============================== */
@media only screen and (max-width: 480px) {
	.em-no-p-left{
		padding-left: 0;
	}
	.e-p-left-50{
		padding-left: 30px;
	}

	body{
		font-size: 13px;
		overflow-x: hidden;
	}
	h1{
		font-size: 38px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 18px;
	}
	h4{
		font-size: 16px;
	}
	h5{
		font-size: 19px;
	}
	h6{
		font-size: 12px;
	}
	p{
		font-size: 13px;
	}
	a{
		font-size: 13px;
	}
	input{
		font-size: 13px;
	}
	.e-sec-head{
		font-size: 12px;
	}
	::-webkit-input-placeholder, ::placeholder {
	  font-size: 13px;
	}
	.e-s-txt{
	  font-size: 12px;
	}
	.e-card-p-txt{
	  font-size: 13px;
	}
	.e-x-s-txt{
	  font-size: 9px;
	}
	.e-xx-s-txt{
	  font-size: 7px;
	}
	.e-nav-item{
	  font-size: 14px;
	}
	.e-hm-banner-wrap{
		background-size: 85%;
	}
	.e-p-btn, .e-s-btn{
		width: 145px;
		font-size: 12px !important;
		padding: 12px 0px;
	}

}

@media only screen and (max-width: 380px) {



}


/* ==============================
   Small Phone
   ============================== */
@media only screen and (max-width: 319px) {
	

}