@charset "utf-8";
/* ==============================
   Small desktop
   ============================== */

@media only screen and (max-width: 1366px) {
	

}

@media only screen and (max-width: 1200px) {
	

}


@media only screen and (max-width: 1199px) {
	.e-hm-why-items-wrap.e-dvr-t-collection-wrap img{
		max-width: 55px;
	}
	.e-hm-why-items-wrap.e-dvr-t-collection-wrap p{
		margin: 0;
	}
	.e-md-flex-column{
		flex-direction: column !important;
	}
	.e-filter-drpdown{
		padding: 10px 15px;
		font-size: 13px;
	}
}

/* ==============================
   Tablet landskape
   ============================== */
@media only screen and (max-width: 1024px) {
	

}

@media only screen and (max-width: 992px) {
	.e-tl-no-flex-display{
		display: block !important;
	}
	.e-tl-no-flex-display-none{
		display: none;
	}
	.e-hm-ftheme-card-wrap{
		top: 0;
		z-index: 1;
	}
	.e-ftheme-card-arrow-wrap{
		right: 0;
		top: 20px;
		z-index: 1;
		position: relative;
	}
	.e-ftheme-card-arrow-wrap span{
		background: #ccc;
	}
	.e-tl-no-flex-display h5{
		padding-bottom: 30px;
	}
	.e-hm-banner-wrap{
		background-size: 50%;
	}
	.e-hm-trstwrthy-img-wrap{
		top: 15px;
    	right: 0;
	}
	.em-p-bottom-30{
		padding-bottom: 30px;
	}
	.e-nav-item{
		margin: 12px;
	}
	.e-filter-drpdown .e-down-arrow, .e-filter-drpdown .e-up-arrow{
		display: none !important;
	}
	.e-td-top-card .e-p-normal-btn, .e-td-top-card .e-s-normal-btn, .e-td-profile-fixed .e-p-normal-btn{
		font-size: 11px;
    	width: 120px;
	}

}

/* ==============================
   Tablet Portrait
   ============================== */
@media only screen and (max-width: 768px) {
	.em-tablet-display-none{
		display: none;
	}
	.e-tablet-hide{
		display: block;
	}
	.e-tablet-display-block{
		display: block;
	}
	.e-desktop-hide{
		display: none;
	}
	.e-hm-banner-wrap{
		background-size: 65%;
	}
	body{
		font-size: 13px;
		overflow-x: hidden;
	}
	h1{
		font-size: 38px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 18px;
	}
	h4{
		font-size: 16px;
	}
	h5{
		font-size: 19px;
	}
	h6{
		font-size: 12px;
	}
	p{
		font-size: 13px;
	}
	a{
		font-size: 13px;
	}
	input{
		font-size: 13px;
	}
	.e-sec-head{
		font-size: 12px;
	}
	::-webkit-input-placeholder, ::placeholder {
		font-size: 13px;
	}
	.e-s-txt{
		font-size: 12px;
	}
	.e-card-p-txt{
		font-size: 13px;
	}
	.e-x-s-txt{
		font-size: 9px;
	}
	.e-xx-s-txt{
		font-size: 6px;
	}
	.e-nav-item{
		font-size: 14px;
	}
	.m-flex-column{
		flex-direction: column !important;
	}
	.e-p-top-100{
		padding-top: 60px;
	}
	.e-p-bottom-10{
		padding-bottom: 5px !important;
	}
	.e-p-bottom-30{
		padding-bottom: 15px;
	}
	.e-p-bottom-100{
		padding-bottom: 60px;
	}
	.em-no-p-left{
		padding-left: 0;
	}
	.em-p-left-30{
		padding-left: 30px;
	}
	.em-p-bottom-30{
		padding-bottom: 30px;
	}
	.em-p-bottom-10{
		padding-bottom: 10px;
	}
	.em-p-top-30{
		padding-top: 30px;
	}
	.e-p-bottom-50{
		padding-bottom: 30px;
	}
	.e-p-left-50{
		padding-left: 30px;
	}
	.e-m-p-bottom-30{
		padding-bottom: 30px;
	}
	.e-hm-trstwrthy-img-wrap{
		top: 14px;
    	right: 0;
	}
	.e-card-arrow-wrap{
		top: 30px;
	}
	.e-hm-subscribe-form-submit{
		padding: 14px;
		left: -47px;
	}
	.e-td-profile-fixed .e-p-normal-btn{
		font-size: 14px;
		width: 150px;
	}

}

/* ==============================
   Phone
   ============================== */
@media only screen and (max-width: 575px) {
	.em-display-none{
		display: none;
	}
	.e-mobile-hide{
		display: block;
	}
	.e-desktop-hide{
		display: none;
	}
	.em-no-p-left{
		padding-left: 0;
	}
	.em-p-left-15{
		padding-left: 15px;
	}
	.em-p-left-30{
		padding-left: 30px;
	}
	.em-p-bottom-30{
		padding-bottom: 30px;
	}
	.em-p-bottom-10{
		padding-bottom: 10px;
	}
	.em-m-10{
		margin: 10px;
	}
	.e-p-bottom-50{
		padding-bottom: 30px;
	}
	.e-p-left-50{
		padding-left: 30px;
	}
	.e-m-p-bottom-30{
		padding-bottom: 30px;
	}
	.m-flex-column{
		flex-direction: column !important;
	}
	.e-p-top-100{
		padding-top: 60px;
	}
	.e-p-bottom-10{
		padding-bottom: 5px !important;
	}
	.e-p-bottom-30{
		padding-bottom: 15px;
	}
	.e-p-bottom-100{
		padding-bottom: 60px;
	}
	.e-p-top-130{
		padding-top: 90px;
	}
	.e-header-logo{
		max-width: 160px;
	}
	.e-m-max-width-full{
		max-width: 100%!important;
	}

	body{
		font-size: 13px;
		overflow-x: hidden;
	}
	h1{
		font-size: 38px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 18px;
	}
	h4{
		font-size: 16px;
	}
	h5{
		font-size: 19px;
	}
	h6{
		font-size: 12px;
	}
	p{
		font-size: 13px;
	}
	a{
		font-size: 13px;
	}
	input{
		font-size: 13px;
	}
	.e-font-18{
		font-size: 14px;
	}
	.e-sec-head{
		font-size: 12px;
	}
	::-webkit-input-placeholder, ::placeholder {
		font-size: 13px;
	}
	.e-s-txt{
		font-size: 12px;
	}
	.e-card-p-txt{
		font-size: 13px;
	}
	.e-x-s-txt{
		font-size: 9px;
	}
	.e-xx-s-txt{
		font-size: 6px;
	}
	.e-nav-item{
		font-size: 14px;
	}
	.e-hm-banner-wrap{
		background-size: 85%;
	}
	.e-p-btn, .e-s-btn{
		width: 145px;
		font-size: 12px !important;
		padding: 12px 0px;
	}
	.e-hm-ftheme-card-wrap{
		top: 0;
		margin-top: 30px;
		z-index: 1;
	}
	.e-hw-to-pattern{
		top: -10%;
    	max-height: 190px;
    	right: 1%;
	}
	.e-card-arrow-wrap span{
		background-color: #c1c1c1;
	}
	.e-ftheme-card-arrow-wrap{
		position: relative;
    	right: 0;
    	top: 28px;
    	z-index: 1;
	}
	.e-top-theme-head-wrap{
		padding-left: 3%;
	}
	.e-card-arrow-wrap{
		top: 15px;
	}
	.e-hm-trstwrthy-img-wrap{
		top: -40%;
    	right: -6%;
	}
	.e-hm-trstwrthy-img-wrap img{
		max-height: 32px;
	}
	.e-footer-pattern{
		max-height: 140px;
	}
	.e-hm-subscribe-form-submit{
		left: -47px;
		padding: 14px;
	}
	.e-top-theme-pattern-img-1, .e-top-theme-pattern-img-2{
		opacity: .4;
	}
	.e-hm-subscribe-form input{
		width: 310px;
	}
	.e-filter-items-wrap.em-left{
		left: 15px;
	}
	.e-filter-items-wrap label{
		top: 0;
	}
	.e-td-top-card .e-p-normal-btn, .e-td-top-card .e-s-normal-btn, .e-td-profile-fixed .e-p-normal-btn{
		width: 100px;
		padding: 9px 0;
	}
	.e-td-profile-fixed .e-p-normal-btn, .e-td-profile-fixed .e-s-normal-btn{
		font-size: 14px;
		width: 150px;
		padding: 12px 0;
	}

}

@media only screen and (max-width: 380px) {



}


/* ==============================
   Small Phone
   ============================== */
@media only screen and (max-width: 319px) {
	

}